In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('.\parameter.csv', index_col=0)
df = df[['hueRed']]
df['times'] = 25

In [8]:
df.loc[df.index.repeat(df.times)]

     hueRed  times
0        91     25
0        91     25
0        91     25
0        91     25
0        91     25
..      ...    ...
999     -41     25
999     -41     25
999     -41     25
999     -41     25
999     -41     25

[25000 rows x 2 columns]

In [11]:
df[['hueRed']].to_csv(r'.\210928_parameter_repeat.csv')